

:root[data-theme="light"]
 {
  --text: rgb(18, 18, 18);
  --background: rgb(237, 237, 237);
  --primary: rgb(0, 173, 204);
  --secondary: rgb(230, 230, 230);
  --tertiary: rgb(225, 225, 225);
  --accent: rgb(209, 0, 38);
  --dropdown: rgb(237, 237, 237, 0.75);
  --nav-line: rgb(204, 204, 204);
}

:root[data-theme='dark'] {
  --text: rgb(211, 211, 211);
  --background: rgb(18, 18, 18);
  --primary: rgb(35, 138, 156);
  --secondary: rgb(26, 26, 26);
  --tertiary: rgb(30, 30, 30);
  --accent: rgb(255, 46, 84);
  --dropdown: rgb(18, 18, 18, 0.75);
  --nav-line: rgb(51, 51, 51);


}

html {
  transition: 0.5s ease-in-out;
}

body,html {
    scroll-behavior: smooth;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: thin;
    background-color: var(--background);
    overflow-x: hidden;
  }

  .body-transition {
    transition: 0.5s ease-in-out;
  }

  h1, h2, a {
    transition: 0.5s ease-in-out;

  }

header {
  transition: 0.5s ease-in-out;
}

main {

}

body {
  position: relative;
  min-height: 100vh;
}

button, input{
  font-family: 'Poppins', sans-serif;
}

/* //......................................
//.NNNN...NNNN.....AAAAA..AAAVV....VVV..
//.NNNNN..NNNN.....AAAAA...AAVV....VVV..
//.NNNNN..NNNN....AAAAAA...AAVV...VVVV..
//.NNNNNN.NNNN....AAAAAAA..AAVVV..VVVV..
//.NNNNNN.NNNN...AAAAAAAA...AVVV..VVVV..
//.NNNNNNNNNNN...AAAAAAAA...AVVV..VVVV..
//.NNNNNNNNNNN...AAAA.AAAA..AVVV.VVVV...
//.NNNNNNNNNNN..AAAAAAAAAA...VVVVVVVV...
//.NNNNNNNNNNN..AAAAAAAAAAA..VVVVVVVV...
//.NNNN.NNNNNN..AAAAAAAAAAA..VVVVVVV....
//.NNNN..NNNNN.NAAA....AAAA...VVVVVV....
//.NNNN..NNNNN.NAAA.....AAAA..VVVVVV....
//.NNNN...NNNNNNAAA.....AAAA..VVVVV.....
//...................................... */

main {
  display: flex;
  justify-content: center;
  width: 100%;

}

content {
  
  width: 97%;
}

@media( min-width:900px) {
  content{ 
    width: 850px;
  }
}

header .announcement-bar {
  background-color: var(--primary);
  color: var(--background);
  font-size: 1em;
  padding: 4px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-in-out;
}

header {
  justify-content: center;
  width: 100%;
  z-index: 2;
}

@media( min-width:900px) {

  burger-nav {
    display: none;
  }

  nav {
    background-color: var(--background);
    border-bottom: solid 1px var(--nav-line);
    color: var(--text);
    flex-wrap: nowrap;
    display: flex;
    padding: 8px 0px 0px 0px;
    justify-content: space-around;
    font-weight: 500;
    font-size: 1.5em;
    align-items: center;
    width: 100%;
    transition: 0.5s ease-in-out;
    z-index: 20;
  }
  
  nav .main-header {
    /* width: 70%; */
    justify-content:space-between;
    align-items: center;
    display: inherit;
    flex-grow: 1;
    max-width: 1280px;
    margin: 0px 10px;
  }

  @media(max-width)  {


  }

    
  
  nav .main-header a {
    /* width: 70%; */
    justify-content: space-around;
    align-items: center;
    display: inherit;
    margin: 0px 0px;
    border-bottom: 8px solid rgb(0, 0, 0, 0);
    color: var(--text);
    text-decoration-line: none;
    text-decoration-color: var(--primary);
  }
  
  nav .main-header button {
    justify-content: space-around;
    align-items: center;
    display: inherit;
    margin: 0px 0px;
    border-bottom: 8px solid rgb(0, 0, 0, 0);
    color: var(--text);
    text-decoration-line: none;
    text-decoration-color: var(--primary);
  }

  
  /* nav .main-header a:hover {
    text-decoration-line: underline;
  } */

  nav .logo-menu {
    width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1em;
    margin-right: 0.7em;
    border-bottom: solid 8px rgb(0, 0, 0, 0);
  }

  /* nav .logo-menu i {
    margin-right: 0.7em;
  } */

  nav .main-menu {
    display: flex;
    justify-content: space-between;
    width: 130px;
    margin-right: 1em;
    border-bottom: solid 8px rgb(0, 0, 0, 0);
    margin-left: 0.7em;
    cursor: pointer;
  }
  
  
  nav a img {
    height: 36px;
    align-items: left;
    display: flex;

  }
  
  nav i {
    padding: 0em 0.3em;
    transition: 150ms ease-in-out;
    filter:   saturate(0%)  brightness(180%) contrast(200%);
    flex-wrap: nowrap;
    scale: 0.9;
    color: var(--text);
  }

  nav .main-menu .fa-moon{
    margin: 0px 3px;
  }
  
  nav a:hover > i{
    /* filter: invert(10%) sepia(91%) saturate(5510%) hue-rotate(343deg) brightness(93%) contrast(106%); */
    filter:   saturate(0%)  brightness(100%) contrast(200%);
    transition: 150ms ease-in-out;
    scale: 1;
  }


  
  .hover-underline-animation {
    display: inline-block;
    position: relative;
    color: var(--accent);
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--accent);
    transform-origin: bottom right;
    transition: transform 0.15s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  nav .fa-bars {
    display: none;
    cursor: pointer;
  }
}  








@media( max-width:900px) {
  nav {
    display: none;
  }
  burger-nav {
    display: flex;
    background-color: var(--background);
    border-bottom: solid 1px #ccc;
    color: var(--text);
    flex-wrap: nowrap;
    padding: 10px 30px;
    justify-content: space-between;
    font-weight: 500;
    font-size: 1.75em;
    align-items: center;
    z-index: 3;
  }
  
  
  burger-nav a img {
    height: 1.5em;
    align-items: center;
    display: flex;
  } 

  burger-nav i {
    padding: 0em 0.3em;
    filter:   saturate(0%)  brightness(100%) contrast(200%);
    flex-wrap: nowrap;
    scale: 1;
  }

  burger-nav .nav-menu {
    position: absolute;
    display: flex;
    top: 95px;
    left: -100vw;
    width: 100vw;
    background-color: var(--dropdown);
    backdrop-filter: blur(8px);
    z-index: 3;
    transition: 0.5s;
    justify-content: center;
    padding-bottom: 70px;
  }

  burger-nav ul li a {
    color: var(--text);
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: 500;
  }

  burger-nav i {
    width: 1.5em;
    cursor: pointer;
  }

  burger-nav li {
    justify-content: space-evenly;
  }


  burger-nav ul {
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    
  }
  

  burger-nav .show-nav {
    left: 0;
    transition: 0.5s;
  }
  
  burger-nav .hide {
    display: none;
  }
}


nav .hide {
  display: none;
  transition: 0.5s ease-in-out;
}

/* //................................................
//.MMMMMM...MMMMMM....AAAAA....IIIII.NNNN...NNNN..
//.MMMMMM...MMMMMM....AAAAA....IIIII.NNNNN..NNNN..
//.MMMMMM...MMMMMM...AAAAAA....IIIII.NNNNN..NNNN..
//.MMMMMMM.MMMMMMM...AAAAAAA...IIIII.NNNNNN.NNNN..
//.MMMMMMM.MMMMMMM..AAAAAAAA...IIIII.NNNNNN.NNNN..
//.MMMMMMM.MMMMMMM..AAAAAAAA...IIIII.NNNNNNNNNNN..
//.MMMMMMMMMMMMMMM..AAAA.AAAA..IIIII.NNNNNNNNNNN..
//.MMMMMMMMMMMMMMM.AAAAAAAAAA..IIIII.NNNNNNNNNNN..
//.MMMMMMMMMMMMMMM.AAAAAAAAAAA.IIIII.NNNNNNNNNNN..
//.MMMM.MMMMM.MMMM.AAAAAAAAAAA.IIIII.NNNN.NNNNNN..
//.MMMM.MMMMM.MMMMAAAA....AAAA.IIIII.NNNN..NNNNN..
//.MMMM.MMMMM.MMMMAAAA.....AAAAIIIII.NNNN..NNNNN..
//.MMMM.MMMMM.MMMMAAAA.....AAAAIIIII.NNNN...NNNN..
//................................................ */



main {
  display: flex;
  justify-content: center;
  width: 100%;

}

content {
  display: flexbox;
  width: 97%;
}

@media( min-width:1366px) {
  content{ 
    width: 1280px;
  }
}

dropdown {
  /* top: 0; */
  width: 97%;
  transform: translateY(-9px);
  border-radius: 0em 0em 2em 1em;
  display: none;
  opacity: 0%;
  /* border-top: 8.75px solid  var(--background); */
  margin-top: 8.75px;
  background-color: var(--dropdown);
  /* background-color: var(--tertiary); */
  backdrop-filter: blur(8px);
  position: absolute;
  z-index: 10;
  max-width: 1280px;
  /* padding: 0.5em; */
  flex-direction: row;
  justify-content: space-around;
  transition: opacity 0.5s;
}



dropdown > div {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

dropdown a {
  color: var(--text);
  text-decoration: none;
  padding: 0.5em 0.5em;
}

.show-dd {
  opacity: 100%;
  display: flex;
  transition: opacity 0.5s;
}




/* //........................................................
//...SSSSSSS....LLLL......LIIII.DDDDDDDDD....EEEEEEEEEEE..
//..SSSSSSSSS...LLLL......LIIII.DDDDDDDDDD...EEEEEEEEEEE..
//..SSSSSSSSSS..LLLL......LIIII.DDDDDDDDDDD..EEEEEEEEEEE..
//.SSSSS..SSSS..LLLL......LIIII.DDDD...DDDD..EEEE.........
//.SSSSS........LLLL......LIIII.DDDD....DDDD.EEEE.........
//..SSSSSSS.....LLLL......LIIII.DDDD....DDDD.EEEEEEEEEE...
//...SSSSSSSSS..LLLL......LIIII.DDDD....DDDD.EEEEEEEEEE...
//.....SSSSSSS..LLLL......LIIII.DDDD....DDDD.EEEEEEEEEE...
//........SSSSS.LLLL......LIIII.DDDD....DDDD.EEEE.........
//.SSSS....SSSS.LLLL......LIIII.DDDD...DDDDD.EEEE.........
//.SSSSSSSSSSSS.LLLLLLLLLLLIIII.DDDDDDDDDDD..EEEEEEEEEEE..
//..SSSSSSSSSS..LLLLLLLLLLLIIII.DDDDDDDDDD...EEEEEEEEEEE..
//...SSSSSSSS...LLLLLLLLLLLIIII.DDDDDDDDD....EEEEEEEEEEE..
//........................................................ */


.slideshow-spacer {
  height: 540px;
  position:static ;
}

content .Slideshow {
  border-radius: 2rem;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}
.slideshow-wrapper {
  position: absolute;
  width: inherit;
  height: 500px;
  overflow: hidden;
  margin-top: 1em;
  border-radius: 1.5em;
  z-index: 1;
}


figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
  /*animation*/
  
  animation: slideShow 24s linear infinite 0s;
  -o-animation: slideShow 24s linear infinite 0s;
  -moz-animation: slideShow 24s linear infinite 0s;
  -webkit-animation: slideShow 24s linear infinite 0s;
}

.slideshow-1 {
  opacity: 1;
  background: url(../source/slideshow_1.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.slideshow-2 {
  animation-delay: 6s;
  -o-animation-delay: 6s;
  -moz--animation-delay: 6s;
  -webkit-animation-delay: 6s;
  background: url(../source/slideshow_2.webp) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.slideshow-3 {
  animation-delay: 12s;
  -o-animation-delay: 12s;
  -moz--animation-delay: 12s;
  -webkit-animation-delay: 12s;
  background: url(../source/slideshow_3.webp) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.slideshow-4 {
  animation-delay: 18s;
  -o-animation-delay: 18s;
  -moz--animation-delay: 18s;
  -webkit-animation-delay: 18s;
  background: url(../source/slideshow_4.jpeg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@keyframes 
slideShow {  0% {
 opacity: 0;
 transform:scale(1);
 -ms-transform:scale(1);
}
 5% {
 opacity: 1
}
 25% {
 opacity: 1;
}
 30% {
 opacity: 0;
 transform:scale(1.1);
 -ms-transform:scale(1.1);
}
 100% {
 opacity: 0;
 transform:scale(1);
 -ms-transformm:scale(1);
}
}
@-o-keyframes 
slideShow {  0% {
 opacity: 0;
 -o-transform:scale(1);
}
 5% {
 opacity: 1
}
 25% {
 opacity: 1;
}
 30% {
 opacity: 0;
 -o-transform:scale(1.1);
}
 100% {
 opacity: 0;
 -o-transformm:scale(1);
}
}
@-moz-keyframes 
slideShow {  0% {
 opacity: 0;
 -moz-transform:scale(1);
}
 5% {
 opacity: 1
}
 25% {
 opacity: 1;
}
 30% {
 opacity: 0;
 -moz-transform:scale(1.1);
}
 100% {
 opacity: 0;
 -moz-transformm:scale(1);
}
}
@-webkit-keyframes 
slideShow {  0% {
 opacity: 0;
 -webkit-transform:scale(1);
}
 5% {
 opacity: 1
}
 25% {
 opacity: 1;
}
 30% {
 opacity: 0;
 -webkit-transform:scale(1.1);
}
 100% {
 opacity: 0;
 -webkit-transformm:scale(1);
}
}


/* //...............................................................
//.PPPPPPPPP.....AAAA........GGGGGGGG...GGGEEEEEEEE...ESSSSSS....
//.PPPPPPPPPP...AAAAAA......AGGGGGGGGG..GGGEEEEEEEE..EESSSSSSS...
//.PPPPPPPPPPP..AAAAAA.....AAGGGGGGGGGG.GGGEEEEEEEE.EEESSSSSSSS..
//.PPPP...PPPP..AAAAAAA...AAAGG...GGGGG.GGGE........EEES...SSSS..
//.PPPP...PPPP.PAAAAAAA...AAAG.....GGG..GGGE........EEESS........
//.PPPPPPPPPPP.PAAAAAAA...AAAG..........GGGEEEEEEEE..EESSSSS.....
//.PPPPPPPPPP..PAAA.AAAA..AAAG..GGGGGGG.GGGEEEEEEEE...ESSSSSSS...
//.PPPPPPPPP..PPAAAAAAAA..AAAG..GGGGGGG.GGGEEEEEEEE.....SSSSSSS..
//.PPPP.......PPAAAAAAAAA.AAAG..GGGGGGG.GGGE...............SSSS..
//.PPPP......PPPAAAAAAAAA..AAGGG...GGGG.GGGE........EEES...SSSS..
//.PPPP......PPPA....AAAA..AAGGGGGGGGGG.GGGEEEEEEEEEEEESSSSSSSS..
//.PPPP......PPPA....AAAAA..AGGGGGGGGG..GGGEEEEEEEEE.EESSSSSSSS..
//.PPPP.....PPPPA.....AAAA....GGGGGG....GGGEEEEEEEEE..ESSSSSS....
//............................................................... */


.section-heading {
  color: var(--text);
}

.pages {
  margin-top: 1em;
  display: grid;
  flex-direction: row;
  background-color: var(--background);
  justify-content: center;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  transition: 0.5s ease-in-out;
  
  
}

.pages a {
  flex-direction: column;
  display: flex;
  background-color: var(--secondary);
  
  aspect-ratio: 1 / 1;
  border: solid 1em 1em;
  border-color: var(--secondary);
  border-radius: 1.5em;
  align-items: center;
  justify-content: center;
  color: var(--text);
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 500;
  box-shadow: 0px 0px 0.4em var(--secondary);
  transition: 0.5s ease-in-out;
}


.pages a img {
  width: 80%;
  border: solid var(--text) 2px 2px;
  scale: 80%;
  /* transform: scale(0.8); */
  padding-bottom: 1em;
  transition: scale 0.5s ease-in-out;
}

.pages a:hover img{
  scale: 100%;
  transition: 0.5s ease-in-out;

}

.pages a:hover {
  /* font-weight: 600; */
  transition: 0.5s ease-in-out;
  background-color: var(--background);
  box-shadow: 0px 0px 0.4em var(--primary);
}













/* @@@@@@@@@@@@   @@@@@@@@@@@@   @@@@@@@@@@@@   @@@@@@@@@@@   @@@@@@@@@@@@   @@@@@@@@@@                                         */
/* @@@@@@@@@@@@   @@@@@@@@@@@@   @@@@@@@@@@@@   @@@@@@@@@@@   @@@@@@@@@@@@   @@@@@@@@@@@                                          */
/* @@@            @@@      @@@   @@@      @@@       @@@       @@@            @@@     @@@                */
/* @@@            @@@      @@@   @@@      @@@       @@@       @@@            @@@     @@@                */
/* @@@@@@@@@      @@@      @@@   @@@      @@@       @@@       @@@@@@@@@      @@@@@@@@@@                             */
/* @@@@@@@@@      @@@      @@@   @@@      @@@       @@@       @@@@@@@@@      @@@@@@@@@                             */
/* @@@            @@@      @@@   @@@      @@@       @@@       @@@            @@@   @@@@                   */
/* @@@            @@@@@@@@@@@@   @@@@@@@@@@@@       @@@       @@@@@@@@@@@@   @@@     @@@                         */
/* @@@            @@@@@@@@@@@@   @@@@@@@@@@@@       @@@       @@@@@@@@@@@@   @@@      @@@                    */




main {
  display: flex;
  justify-content: center;
  width: 100%;

}

footer content {
  
  width: 97%;
  transition: 0.5s ease-in-out;

}

@media( min-width:1366px) {
  footer content{ 
    width: 1280px;
  }
}



footer {
  display: flex;
  justify-content: center;
  margin: 25px 0px;
  transition: 0.5s ease-in-out;
}

footer content {
  /* background-image: linear-gradient(20deg, var(--primary), var(--accent)); */
  background-color: var(--tertiary);
  color: var(--text);
  border-radius: 2em;
  /* border: solid 6px #bbb; */
}

footer .horizontal-footer {
  display: flex;
  justify-content: space-around;
}

footer a {
  text-decoration: none;

}

footer .vert {
  display: flex;
  flex-direction: column;
  padding: 1em 1em;
}
