

:root[data-theme="light"]
 {
  --text: rgb(18, 18, 18);
  --background: rgb(237, 237, 237);
  --primary: rgb(0, 173, 204);
  --secondary: rgb(230, 230, 230);
  --tertiary: rgb(225, 225, 225);
  --accent: rgb(235, 29, 46);
  --dropdown: rgb(237, 237, 237, 0.75);
  --nav-line: rgb(204, 204, 204);
  --border-radius: 1.5em;

}

:root[data-theme='dark'] {
  --text: rgb(211, 211, 211);
  --background: rgb(18, 18, 18);
  --primary: rgb(35, 138, 156);
  --secondary: rgb(26, 26, 26);
  --tertiary: rgb(30, 30, 30);
  --accent: rgb(235, 42, 77);
  --dropdown: rgb(18, 18, 18, 0.75);
  --nav-line: rgb(51, 51, 51);
  --border-radius: 1.5em;


}

html {
  transition: 0.5s ease-in-out;
}

body,html {
    scroll-behavior: smooth;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: thin;
    background-color: var(--background);
    overflow-x: hidden;
  }

  .body-transition {
    transition: 0.5s ease-in-out;
  }

  h1, h2, a {
    transition: 0.5s ease-in-out;

  }

header {
  transition: 0.5s ease-in-out;
}

main {

}

body {
  position: relative;
  min-height: 100vh;
}

button, input{
  font-family: 'Poppins', sans-serif;
}

/* //......................................
//.NNNN...NNNN.....AAAAA..AAAVV....VVV..
//.NNNNN..NNNN.....AAAAA...AAVV....VVV..
//.NNNNN..NNNN....AAAAAA...AAVV...VVVV..
//.NNNNNN.NNNN....AAAAAAA..AAVVV..VVVV..
//.NNNNNN.NNNN...AAAAAAAA...AVVV..VVVV..
//.NNNNNNNNNNN...AAAAAAAA...AVVV..VVVV..
//.NNNNNNNNNNN...AAAA.AAAA..AVVV.VVVV...
//.NNNNNNNNNNN..AAAAAAAAAA...VVVVVVVV...
//.NNNNNNNNNNN..AAAAAAAAAAA..VVVVVVVV...
//.NNNN.NNNNNN..AAAAAAAAAAA..VVVVVVV....
//.NNNN..NNNNN.NAAA....AAAA...VVVVVV....
//.NNNN..NNNNN.NAAA.....AAAA..VVVVVV....
//.NNNN...NNNNNNAAA.....AAAA..VVVVV.....
//...................................... */

main {
  display: flex;
  justify-content: center;
  width: 100%;

}

content {
  
  width: 97%;
}

@media( min-width:900px) {
  content{ 
    width: 850px;
  }
}

header .announcement-bar {
  background-color: var(--primary);
  color: var(--background);
  font-size: 1em;
  padding: 4px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-in-out;
}

header {
  justify-content: center;
  width: 100%;
  z-index: 2;
  position: fixed;
}

@media( min-width:900px) {

  burger-nav {
    display: none;
  }

  nav {
    background-color: var(--background);
    border-bottom: solid 1px var(--nav-line);
    color: var(--text);
    flex-wrap: nowrap;
    display: flex;
    padding: 8px 0px 0px 0px;
    justify-content: space-around;
    font-weight: 500;
    font-size: 1.5em;
    align-items: center;
    width: 100%;
    transition: 0.5s ease-in-out;
    z-index: 20;
  }
  
  nav .main-header {
    /* width: 70%; */
    justify-content:space-between;
    align-items: center;
    display: inherit;
    flex-grow: 1;
    max-width: 1280px;
    margin: 0px 10px;
  }

  @media(max-width)  {


  }

    
  
  nav .main-header a {
    /* width: 70%; */
    justify-content: space-around;
    align-items: center;
    display: inherit;
    margin: 0px 0px;
    border-bottom: 8px solid rgb(0, 0, 0, 0);
    color: var(--text);
    text-decoration-line: none;
    text-decoration-color: var(--primary);
  }
  
  nav .main-header button {
    justify-content: space-around;
    align-items: center;
    display: inherit;
    margin: 0px 0px;
    border-bottom: 8px solid rgb(0, 0, 0, 0);
    color: var(--text);
    text-decoration-line: none;
    text-decoration-color: var(--primary);
  }

  
  /* nav .main-header a:hover {
    text-decoration-line: underline;
  } */

  nav .logo-menu {
    width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1em;
    margin-right: 0.7em;
    border-bottom: solid 8px rgb(0, 0, 0, 0);
  }

  nav .show-searchbox {
    display: flex;
  }

  /* nav .logo-menu i {
    margin-right: 0.7em;
  } */

  nav .main-menu {
    display: flex;
    justify-content: space-between;
    width: 130px;
    margin-right: 1em;
    border-bottom: solid 8px rgb(0, 0, 0, 0);
    margin-left: 0.7em;
    cursor: pointer;
  }
  
  
  nav a img {
    height: 36px;
    align-items: left;
    display: flex;

  }
  
  nav i {
    padding: 0em 0.3em;
    transition: 150ms ease-in-out;
    filter:   saturate(0%)  brightness(180%) contrast(200%);
    flex-wrap: nowrap;
    scale: 0.9;
    color: var(--text);
  }

  nav .main-menu .fa-moon{
    margin: 0px 3px;
  }
  
  nav a:hover > i{
    /* filter: invert(10%) sepia(91%) saturate(5510%) hue-rotate(343deg) brightness(93%) contrast(106%); */
    filter:   saturate(0%)  brightness(100%) contrast(200%);
    transition: 150ms ease-in-out;
    scale: 1;
  }


  
  .hover-underline-animation {
    display: inline-block;
    position: relative;
    color: var(--accent);
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--accent);
    transform-origin: bottom right;
    transition: transform 0.15s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  nav .fa-bars {
    display: none;
    cursor: pointer;
  }
}  








@media( max-width:900px) {
  nav {
    display: none;
  }
  burger-nav {
    display: flex;
    background-color: var(--background);
    border-bottom: solid 1px #ccc;
    color: var(--text);
    flex-wrap: nowrap;
    padding: 10px 30px;
    justify-content: space-between;
    font-weight: 500;
    font-size: 1.75em;
    align-items: center;
    z-index: 3;
  }
  
  
  burger-nav a img {
    height: 1.5em;
    align-items: center;
    display: flex;
  } 

  burger-nav i {
    padding: 0em 0.3em;
    filter:   saturate(0%)  brightness(100%) contrast(200%);
    flex-wrap: nowrap;
    scale: 1;
    color: var(--text);
  }

  burger-nav .nav-menu {
    position: absolute;
    display: flex;
    top: 95px;
    left: -100vw;
    width: 100vw;
    background-color: var(--dropdown);
    backdrop-filter: blur(8px);
    z-index: 3;
    transition: 0.5s;
    justify-content: center;
    padding-bottom: 70px;
  }

  burger-nav ul li a {
    color: var(--text);
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-weight: 500;
  }

  burger-nav i {
    width: 1em;
    cursor: pointer;
  }

  burger-nav li {
    justify-content: space-evenly;
  }


  burger-nav ul {
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    
  }
  

  burger-nav .show-nav {
    left: 0;
    transition: 0.5s;
  }
  
  burger-nav .hide {
    display: none;
  }
}


nav .hide {
  display: none;
  transition: 0.5s ease-in-out;
}

dd-wrapper {
  width: 100%;
  justify-content: center;
}

@media(max-width:1365px) {
  dropdown{
    left: 1.5vw;
    width: 97.1%;
  }
}

/* width: 97%; */
@media(min-width:1366px) {
  dropdown {
    width: 1280px;
    left: calc((100vw - 1280px ) / 2);
  }

}

dropdown {
  width: 97%;
  max-width: 1280px;
  transform: translateY(-9px);
  border-radius: 0em 0em 2em 1em;
  display: none;
  opacity: 0%;
  /* border-top: 8.75px solid  var(--background); */
  margin-top: 8.75px;
  background-color: var(--dropdown);
  /* background-color: var(--tertiary); */
  backdrop-filter: blur(8px);
  position: absolute;
  z-index: 10;
  /* padding: 0.5em; */
  flex-direction: row;
  justify-content: space-around;
  transition: opacity 0.5s;
}



dropdown > div {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

dropdown a {
  color: var(--text);
  text-decoration: none;
  padding: 0.5em 0.5em;
}

.show-dd {
  opacity: 100%;
  display: flex;
  transition: opacity 0.5s;
}

search {
  width: 100vw;
  padding: 0.5em 0em;
  top: 84px;
  left: 0;
  display: none;
  position: absolute;
  background-color: var(--dropdown);
  cursor: default;

  search-box {
    width: 100vw;
    display: flex;
    justify-content: center;
  
    input {
      width: 97vw;
    }
    @media( min-width:1366px) {
      input {
        width: 1280px;
      }
    }
    

    input {
      box-sizing: border-box;
      background-color: var(--tertiary);
      height: 3em;
      border: none;
      border-radius: 1.5em;
      padding: 0px 1.5em 0px 1.5em;
    }


  }
}


/* //................................................
//.MMMMMM...MMMMMM....AAAAA....IIIII.NNNN...NNNN..
//.MMMMMM...MMMMMM....AAAAA....IIIII.NNNNN..NNNN..
//.MMMMMM...MMMMMM...AAAAAA....IIIII.NNNNN..NNNN..
//.MMMMMMM.MMMMMMM...AAAAAAA...IIIII.NNNNNN.NNNN..
//.MMMMMMM.MMMMMMM..AAAAAAAA...IIIII.NNNNNN.NNNN..
//.MMMMMMM.MMMMMMM..AAAAAAAA...IIIII.NNNNNNNNNNN..
//.MMMMMMMMMMMMMMM..AAAA.AAAA..IIIII.NNNNNNNNNNN..
//.MMMMMMMMMMMMMMM.AAAAAAAAAA..IIIII.NNNNNNNNNNN..
//.MMMMMMMMMMMMMMM.AAAAAAAAAAA.IIIII.NNNNNNNNNNN..
//.MMMM.MMMMM.MMMM.AAAAAAAAAAA.IIIII.NNNN.NNNNNN..
//.MMMM.MMMMM.MMMMAAAA....AAAA.IIIII.NNNN..NNNNN..
//.MMMM.MMMMM.MMMMAAAA.....AAAAIIIII.NNNN..NNNNN..
//.MMMM.MMMMM.MMMMAAAA.....AAAAIIIII.NNNN...NNNN..
//................................................ */



main {
  margin-top: 87.5px;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: calc(95vh - ( 155px + 87.5px));

}

content {
  display: flexbox;
  width: 97%;
}

@media( min-width:1366px) {
  content{ 
    width: 1280px;
  }
}







/* @@@@@@@@@@@@   @@@@@@@@@@@@   @@@@@@@@@@@@   @@@@@@@@@@@   @@@@@@@@@@@@   @@@@@@@@@@                                         */
/* @@@@@@@@@@@@   @@@@@@@@@@@@   @@@@@@@@@@@@   @@@@@@@@@@@   @@@@@@@@@@@@   @@@@@@@@@@@                                          */
/* @@@            @@@      @@@   @@@      @@@       @@@       @@@            @@@     @@@                */
/* @@@            @@@      @@@   @@@      @@@       @@@       @@@            @@@     @@@                */
/* @@@@@@@@@      @@@      @@@   @@@      @@@       @@@       @@@@@@@@@      @@@@@@@@@@                             */
/* @@@@@@@@@      @@@      @@@   @@@      @@@       @@@       @@@@@@@@@      @@@@@@@@@                             */
/* @@@            @@@      @@@   @@@      @@@       @@@       @@@            @@@   @@@@                   */
/* @@@            @@@@@@@@@@@@   @@@@@@@@@@@@       @@@       @@@@@@@@@@@@   @@@     @@@                         */
/* @@@            @@@@@@@@@@@@   @@@@@@@@@@@@       @@@       @@@@@@@@@@@@   @@@      @@@                    */




main {
  display: flex;
  justify-content: center;
  width: 100%;

}

footer content {
  
  width: 97%;
  transition: 0.5s ease-in-out;

}

@media( min-width:1366px) {
  footer content{ 
    width: 1280px;
  }
}



footer {
  display: flex;
  justify-content: center;
  margin: 25px 0px;
  transition: 0.5s ease-in-out;
}

footer content {
  /* background-image: linear-gradient(20deg, var(--primary), var(--accent)); */
  background-color: var(--tertiary);
  color: var(--text);
  border-radius: 2em;
  /* border: solid 6px #bbb; */
}

footer .horizontal-footer {
  display: flex;
  justify-content: space-around;
}

footer a {
  text-decoration: none;

}

footer .vert {
  display: flex;
  flex-direction: column;
  padding: 1em 1em;
}
