body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(18, 18, 18);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .register-box {
    background-color: #fff;
    box-shadow: 0 0 180px rgb(0, 173, 204);
    border-radius: 10px;
    overflow: hidden;
    width: 400px;
  }

  .register-header {
    background-color: rgb(0, 173, 204);;
    color: #fff;
    padding: 15px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }

  .register-form {
    padding: 20px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #000000;
    font-family: 'Poppins', sans-serif;
  }

  .form-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

  main {
  display: flex;
  justify-content: center;
  width: 100%;

}

.form-group button {
    background-color: rgb(0, 173, 204);;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-family: 'Poppins', sans-serif;
  }

content {
  width: 97%;
}

@media( min-width:1366px) {
  content{ 
    width: 1280px;
  }
}



