
/* //........................................................
//...SSSSSSS....LLLL......LIIII.DDDDDDDDD....EEEEEEEEEEE..
//..SSSSSSSSS...LLLL......LIIII.DDDDDDDDDD...EEEEEEEEEEE..
//..SSSSSSSSSS..LLLL......LIIII.DDDDDDDDDDD..EEEEEEEEEEE..
//.SSSSS..SSSS..LLLL......LIIII.DDDD...DDDD..EEEE.........
//.SSSSS........LLLL......LIIII.DDDD....DDDD.EEEE.........
//..SSSSSSS.....LLLL......LIIII.DDDD....DDDD.EEEEEEEEEE...
//...SSSSSSSSS..LLLL......LIIII.DDDD....DDDD.EEEEEEEEEE...
//.....SSSSSSS..LLLL......LIIII.DDDD....DDDD.EEEEEEEEEE...
//........SSSSS.LLLL......LIIII.DDDD....DDDD.EEEE.........
//.SSSS....SSSS.LLLL......LIIII.DDDD...DDDDD.EEEE.........
//.SSSSSSSSSSSS.LLLLLLLLLLLIIII.DDDDDDDDDDD..EEEEEEEEEEE..
//..SSSSSSSSSS..LLLLLLLLLLLIIII.DDDDDDDDDD...EEEEEEEEEEE..
//...SSSSSSSS...LLLLLLLLLLLIIII.DDDDDDDDD....EEEEEEEEEEE..
//........................................................ */


.slideshow-spacer {
    height: 540px;
    position:static ;
  }
  
  content .Slideshow {
    border-radius: 2rem;
    width: 100%;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  .slideshow-wrapper {
    position: absolute;
    width: inherit;
    height: 500px;
    overflow: hidden;
    margin-top: 1em;
    border-radius: 1.5em;
    z-index: 1;
  }
  
  
  figure {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
    /*animation*/
    
    animation: slideShow 24s linear infinite 0s;
  }
  
  .slideshow-1 {
    opacity: 1;
    background: url(../source/slideshow_1.jpg) no-repeat center center;
    background-size: cover;
  }
  .slideshow-2 {
    animation-delay: 6s;
    background: url(../source/slideshow_2.webp) no-repeat center center;
    background-size: cover;
  }
  .slideshow-3 {
    animation-delay: 12s;
    background: url(../source/slideshow_3.webp) no-repeat center center;
    background-size: cover;
  }
  
  .slideshow-4 {
    animation-delay: 18s;
    background: url(../source/slideshow_4.jpeg) no-repeat center center;
    background-size: cover;
  }
  
  @keyframes 
  slideShow {  0% {
   opacity: 0;
   transform:scale(1);
  }
   5% {
   opacity: 1
  }
   25% {
   opacity: 1;
  }
   30% {
   opacity: 0;
   transform:scale(1.1);
  }
   100% {
   opacity: 0;
   transform:scale(1);
  }
  }
  
  
  /* //...............................................................
  //.PPPPPPPPP.....AAAA........GGGGGGGG...GGGEEEEEEEE...ESSSSSS....
  //.PPPPPPPPPP...AAAAAA......AGGGGGGGGG..GGGEEEEEEEE..EESSSSSSS...
  //.PPPPPPPPPPP..AAAAAA.....AAGGGGGGGGGG.GGGEEEEEEEE.EEESSSSSSSS..
  //.PPPP...PPPP..AAAAAAA...AAAGG...GGGGG.GGGE........EEES...SSSS..
  //.PPPP...PPPP.PAAAAAAA...AAAG.....GGG..GGGE........EEESS........
  //.PPPPPPPPPPP.PAAAAAAA...AAAG..........GGGEEEEEEEE..EESSSSS.....
  //.PPPPPPPPPP..PAAA.AAAA..AAAG..GGGGGGG.GGGEEEEEEEE...ESSSSSSS...
  //.PPPPPPPPP..PPAAAAAAAA..AAAG..GGGGGGG.GGGEEEEEEEE.....SSSSSSS..
  //.PPPP.......PPAAAAAAAAA.AAAG..GGGGGGG.GGGE...............SSSS..
  //.PPPP......PPPAAAAAAAAA..AAGGG...GGGG.GGGE........EEES...SSSS..
  //.PPPP......PPPA....AAAA..AAGGGGGGGGGG.GGGEEEEEEEEEEEESSSSSSSS..
  //.PPPP......PPPA....AAAAA..AGGGGGGGGG..GGGEEEEEEEEE.EESSSSSSSS..
  //.PPPP.....PPPPA.....AAAA....GGGGGG....GGGEEEEEEEEE..ESSSSSS....
  //............................................................... */
  
  
  .section-heading {
    color: var(--text);
  }

    
  .results {
    margin-top: 1em;
    display: grid;
    flex-direction: row;
    background-color: var(--background);
    justify-content: center;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    transition: 0.5s ease-in-out;
    margin: 0px;
}

.results a {
    color: var(--text);
    text-decoration: none;
    background-color: var(--secondary);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    transition: 0.25s ease-in-out;

}

:root[data-theme="light"] .results a:hover {
    filter: brightness(103%);
    box-shadow: 2px 1px 10px rgba(100, 100, 100, 0.3);
}

:root[data-theme="dark"] .results a:hover {
    background-color: rgb(30, 30, 30);
    box-shadow: 2px 1px 10px rgba(255, 255, 255, 0.16);
}

.results a img {
    padding: 1em 2em 1.5em 2em;
}

.results a .title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2em;
    max-height: 2.4em;
    color: var(--text);
}

.results a .subtitle {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    /* line-height: 0.9em; */
    /* max-height: 0.8em; */
    color: var(--text);
    margin-top: 0.5em;
    font-weight: 200;
    font-size: 0.9em;
}

.results a p {
    font-weight: 300;
    margin: 0px;
    margin-top: 4px;

}



.results .hover-animation {
    display: inline-block;
    position: relative;
    color: var(--text);
  }
  
  .results a .hover-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--accent);
    transform-origin: bottom right;
    transition: transform 0.15s ease-out;
  }
  
  .results a:hover .hover-animation::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  
.results a h3 {
    font-weight: 400;
    margin: -8px 0px 0px 0px;
    color: var(--text);
    width: max-content;
}