@ -1,101 +0,0 @@
* {
    font-family: 'Poppins', sans-serif;
    transition: 150ms ease-in-out;
}

:root[data-theme="light"] {
    --text: rgb(18, 18, 18);
    --background: rgb(237, 237, 237);
    --primary: rgb(0, 173, 204);
    --secondary: rgb(230, 230, 230);
    --tertiary: rgb(225, 225, 225);
    --accent: rgb(235, 29, 46);
    --dropdown: rgb(237, 237, 237, 0.75);
    --nav-line: rgb(204, 204, 204);
    --border-radius: 1.5em;

}

:root[data-theme='dark'] {
    --text: rgb(211, 211, 211);
    --background: rgb(18, 18, 18);
    --primary: rgb(35, 138, 156);
    --secondary: rgb(26, 26, 26);
    --tertiary: rgb(30, 30, 30);
    --accent: rgb(235, 42, 77);
    --dropdown: rgb(18, 18, 18, 0.75);
    --nav-line: rgb(51, 51, 51);
    --border-radius: 1.5em;


}

body {
    background-color: rgb(237, 237, 237);
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;

}

.backbtn {
    background-color: transparent;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 50px;
    height: 50px;
    margin: 0px 20px 20px 40px;
    font-size: 30px;
    border-radius: 10px;
    border: 1.5px solid rgb(0, 173, 204) ;
}

.backbtn:hover{
    background-color: rgb(0, 173, 204);
    color: black;
}
a {
    text-decoration: none;
    color: rgb(18, 18, 18);
}

a:hover {
    color: rgb(0, 173, 204);
}

table {
    background-color: rgb(0, 173, 204);
    border-radius: 20px;
    padding: 30px;
    margin: 0px 20px 0px 20px;
}

tr {
    font-size: 20px;
    color: rgb(18, 18, 18);
}

th,
td {
    padding: 10px;
}

tbody:hover {
    background-color: rgb(237, 237, 237);
    border-radius: 20px;
}

.first-el {

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.last-el {

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}