.form-container {
    padding: 0em 2em 2em 2em;
    margin: 2em 0em;
    border-radius: var(--border-radius);
    background-color: var(--tertiary);
    color: var(--text);
    transition: 0.5s ease-in-out;
    width: 320px;
    height: 358px;
    h1 {
        font-weight: 500;
    }
}

.button-container {
    display: grid;
    margin-top: 1em;
    grid-template-columns: repeat( 2, minmax(120px, 1fr) );
    height: 3em;
    width: 100%;
    grid-gap: 1em;
    align-items: center;
    margin-bottom: 1em;
}

.button-container button {
    font-size: 1em;
    border: none;
    border-radius: 0.5em;
    transition: 0.15s ease-in-out;
    cursor: pointer;
    color: var(--text);
}

.button-container button:hover {
    transition: 0.15s ease-in-out;
    filter: brightness(120%);
}

.button-container button:hover {
    transition: 0.15s ease-in-out;
    filter: brightness(120%);
}


.register-container form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-container input {
    width: 100%;
    margin: 0.5em 0em;
    border: none;
    padding: 1em 2em;
    border-radius: 0.5em;
    box-sizing: border-box;
    font-size: 1em;
    background-color: var(--background);
    color: var(--text);
    transition: 0.5s ease-in-out;
    
}

.register-header {
    background-color: var(--primary);
    text-align: center;
    border-radius: 0.5em;
    padding: 0.5em;
    color: var(--background);

}

.forgot {
    background-color: rgb(0, 0, 0, 0);
    margin: 1em 0em;
}

.send {
    background-color: var(--primary);
    padding: 1em;
}

content {
    justify-content: center;
    display: flex;
}

.register-container a {
    color: var(--text);
    text-decoration: none;
    border-radius: 0.5em;
}

